---
Language:        Cpp
BasedOnStyle:  Google      
ColumnLimit:     70
IndentWidth:    2
AlignTrailingComments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: DontAlign
...

